.item-improvised {
  background-image: url('../img/items/improvised.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.item-needle {
  background-image: url('../img/items/needle.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.item-dagger {
  background-image: url('../img/items/dagger.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.item-axe {
  background-image: url('../img/items/axe.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.item-pickaxe {
  background-image: url('../img/items/pickaxe.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.item-sword {
  background-image: url('../img/items/sword.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.item-mace {
  background-image: url('../img/items/mace.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.item-hammer {
  background-image: url('../img/items/hammer.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.item-warhammer {
  background-image: url('../img/items/warhammer.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.item-spear {
  background-image: url('../img/items/spear.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.item-hookarm {
  background-image: url('../img/items/hookarm.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.item-bow {
  background-image: url('../img/items/bow.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.item-arrows {
  background-image: url('../img/items/arrows.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.item-sling {
  background-image: url('../img/items/sling.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.item-stones {
  background-image: url('../img/items/stones.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.item-light-armour {
  background-image: url('../img/items/light-armour.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.item-heavy-armour {
  background-image: url('../img/items/heavy-armour.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.item-torches {
  background-image: url('../img/items/torches.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.item-lantern {
  background-image: url('../img/items/lantern.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.item-electric-lantern {
  background-image: url('../img/items/electric-lantern.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.item-pip-purse {
  background-image: url('../img/items/pip-purse.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.item-rations {
  background-image: url('../img/items/rations.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.item-spell {
  background-image: url('../img/items/spell.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

